<!DOCTYPE html>
<html>
    <head>
        <title>Tweets Search</title>
    </head>
    <body>
        <h1>Enter the details below:</h1>

        <form action="{{ url_for('hello') }}" method="post">
	Enter the key word to search for:	
        <input type="text" name="search_terms" placeholder="Enter Your word to search for"></br>
	Enter the time:
	<input type="number" name="hours" placeholder="Enter the number of hours">
	<input type="number" name="minutes" placeholder="Enter the number of minutes">
	<input type="number" name="seconds" placeholder="Enter the number of seconds"></br>
        <button>Submit</button>
        </form>
    </body>
</html>
